# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/
Gemfile.lock

# Gems
*.gem

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Mine
archive/
_posts/2024-10-30-2024-letter.md
_posts/2024-10-30-the-best-facts-i-learned-this-year.md
_posts/2024-10-30-what-i-listened-to-this-year.md
