#tsparticles canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

:root {
  /* Cosmic latte. */
  --theme_color_background: #FFF8E7;
  --theme_color_text: black;
  --theme_color_box: rgba(255, 255, 255, 0.7);
  --theme_font_family: Lusitana, serif;
  --size_huge: 2em;
  --size_bigger: 1.5em;
  --size_big: 1.2em;
  --size_normal: 1em;
  --size_small: .2em;
  --size_negative: -1.5em;
}

[data-theme=lightserif] {
  /* Cosmic latte. */
  --theme_color_background: #FFF8E7;
  --theme_color_text: black;
  --theme_color_box: rgba(255, 255, 255, 0.7);
  --theme_font_family: Lusitana, serif;
}

[data-theme=lightsans] {
  /* Cosmic latte. */
  --theme_color_background: #FFF8E7;
  --theme_color_text: black;
  --theme_color_box: rgba(255, 255, 255, 0.7);
  --theme_font_family: Lato, sans-serif;
}

[data-theme=darkserif] {
  /* My very dark blue. */
  --theme_color_background: #000226;
  --theme_color_text: white;
  --theme_color_box: rgba(64, 64, 64, 0.5);
  --theme_font_family: Lusitana, serif;
}

[data-theme=darksans] {
  /* My very dark blue. */
  --theme_color_background: #000226;
  --theme_color_text: white;
  --theme_color_box: rgba(64, 64, 64, 0.5);
  --theme_font_family: Lato, sans-serif;
}

body {
  background-color: var(--theme_color_background);
  color: var(--theme_color_text);
  font-family: var(--theme_font_family);
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.5;
  /* Prevents background from shifting left for particle interactions. */
  overflow-y: scroll;
}

.container {
  position: absolute;
  left: 20%;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text_box {
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--theme_color_box);
}

img[alt=image] {
  float: right;
  margin-top: 10px;
  width: 30%;
  border-radius: 50%;
  border: 2px solid var(--theme_color_text);
}

img {
  width: 100%;
}

/* Titles. */
h1 {
  font-size: var(--size_huge);
  margin-top: inherit;
  margin-bottom: var(--size_normal);
}

/* Section headings. */
h2 {
  font-size: var(--size_big);
  margin-top: inherit;
  margin-bottom: var(--size_normal);
}

/* Links to home. */
h5 {
  font-size: var(--size_normal);
  margin-top: inherit;
  margin-bottom: var(--size_huge);
  font-weight: normal;
}

/* Links on home. */
h6 {
  font-size: var(--size_big);
  margin-top: var(--size_negative);
  margin-bottom: var(--size_huge);
  font-weight: normal;
  word-spacing: .5em;
}

p {
  margin-top: inherit;
  margin-bottom: var(--size_normal);
}

ul,
ol {
  margin-top: inherit;
  margin-bottom: var(--size_normal);
  padding-left: var(--size_huge);
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--theme_color_text);
  padding: 5px;
  margin-bottom: var(--size_normal);
  text-align: left;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--theme_color_text);
}

h6 a:link {
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container {
    left: 3%;
    width: 94%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .text_box {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: var(--size_bigger);
  }

  h6 {
    font-size: var(--size_normal);
  }

  ul,
  ol {
    padding-left: var(--size_big);
  }
}
